.navbar {
    border: 0;
    padding: 15px 0;
    font-size: 13px;
    background-color: black !important;
    margin-bottom: 0 !important;
    border-radius: unset !important;

    @include Responsive(MD) {
        background-color: $bg-nav !important;
    }

    .container {
        .navbar-header {
            .logo {
                img {
                    width: 100%;
                }
            }
        }

        .navbar-collapse {
            text-align: center;
            border-top: none;

            .navbar-right {
                margin: 0;
                .active{
                   a{
                       color: $color-pink;
                       border-bottom: 0 !important;
                   }
                }
                li {
                  
                    a {
                        color: $color-subtitle;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        transition: all .5s;

                        &:hover {
                            color: $color-pink;
                        }
                    }
                }
            }


        }
    }

}