//background color
$bg-nav:#000;
$bg-header:#21212e;
$bg-light-blue:#475A85;
$bg-footer:#161828;

// color
$color-pink:#EA5B58;
$color-overlay:rgba(80, 96, 131, 0.82);
$color-subtitle:#E6E9EF;
$color-text-footer:#50515C;
$color-title-footer:#76777f; 
$color-text-hover:#56A7DC;


