.button {
    cursor: pointer;
    display: inline-block;
    background: $color-pink;
    padding: 15px 45px;
    border-radius: 5px; 
    border: 1px solid $color-pink;

    &:hover {
        background: rgb(0, 0, 0);
        border: 1px solid rgb(255, 255, 255);

        a {
            color: $color-pink;

        }
    }

    a {
        color: white;
        background: unset;
        transition: all 0.5s;
        font-family: 'Open Sans';
        font-size: 18px;

    }


}